body
  padding 20px
  font-family arial

th
  font-weight normal

.dashboard
  position: absolute
  top 0px
  bottom 0px
  width 90%

.tops
  width 90%

 .dashboard .response-time, .dashboard .error-percentage
  width 45%

.graph
  border 1px dotted grey
  padding 30px

path
  fill none

.tile
  cursor hand

.boxplot
  shape-rendering crispEdges
  stroke steelblue

.boxplot.percentiles
  stroke-width 5px

.boxplot.percentiles:hover
  cursor hand
  stroke-width 7px
  stroke lightblue

.boxplot.median
  stroke-width 1px
  stroke white

.error-percentage path
  stroke maroon

.axis path, .axis line
  fill none
  stroke grey
  shape-rendering crispEdges

.current-build
  stroke-width 3px
  stroke steelblue
  shape-rendering crispEdges

.axis text
  font-size 11px

.x.axis text
  display none

.report .mark
  stroke maroon
  stroke-width 0.75
  fill none

.report .testrun
  padding-left 1em

.report .sample span
  padding-left 0.5em
  color maroon

.tops .response-time
  color maroon

.tops .response-time .elapsedTimeStr, .tops .response-time .responseCode
  text-align right

.tops .response-time a
  margin-left 20


