body
  padding 20px
  font-family arial

th
  font-weight normal

.dashboard
  position: absolute
  top 0px
  bottom 0px
  width 90%

.tops
  width 90%

.response-time, .error-percentage
  width 45%

.graph
  border 1px dotted grey
  padding 30px

path
  fill none

.boxplot
  shape-rendering crispEdges
  stroke steelblue

.boxplot.percentiles
  stroke-width 5px

.boxplot.percentiles:hover
  cursor hand
  stroke-width 7px
  stroke lightblue

.boxplot.median
  stroke-width 1px
  stroke white

.error-percentage path
  stroke maroon

.axis path, .axis line
  fill none
  stroke grey
  shape-rendering crispEdges

.current-build
  stroke-width 3px
  stroke steelblue
  shape-rendering crispEdges

.axis text
  font-size 11px

.x.axis text
  display none

.tops
  margin-top 50px

.tops th
  padding-bottom 20px
  text-align left
  font-size large

.report th
  font-weight bold

.report .tops tbody tr:nth-child(odd) span
  background-color #efefef

.report .tops tbody tr:nth-child(odd) a
  background-color #efefef

.report .testrun
  padding-left 0.5em

span.response-time, span.status-code
  padding-left 10%
  text-align right
