body
  padding 0
  margin  0
  font-family arial

th
  font-weight normal

.clear
  clear both

.dashboard
  position absolute
  top 0px
  bottom 0px
  width 100%

.test-case-container
  float left
  margin 10 0 40 0
  padding 0
  height 25%
  width  50%

.test-case-container .title
  text-align center

.test-case-container .graph
  padding 5 15 27 40
  float left
  width 30%
  height 80%
  margin 10 0 0 10

.status
  position absolute
  font-size small
  top 5
  right 10
  margin-top 0

.status .update
  float left

.status .progress
  float left
  margin-right 10
  margin-top 2

.tops
  width 90%

.dashboard .mark
  stroke-width 1
  fill none

.dashboard .mark.failed
  stroke maroon

.dashboard .mark.passed
  stroke steelblue

path
  fill none

.tile
  cursor hand

.boxplot
  shape-rendering crispEdges
  stroke steelblue

.boxplot.percentiles
  stroke-width 5px

.boxplot.percentiles:hover
  cursor hand
  stroke-width 7px
  stroke lightblue

.boxplot.median
  stroke-width 1px
  stroke white

.line
  stroke maroon

.axis text
  font-size 11px

.axis path, .axis line
  fill none
  stroke grey
  shape-rendering crispEdges

.report
  margin-left 20px

.report .mark
  stroke-width 1
  fill none

.report .mark.failed
  stroke maroon

.report .mark.passed
  stroke steelblue

.report .response-time-scatter-plot
  padding 5 15 27 40
  float left
  width 90%
  height 50%
  margin 10 0 0 10

.report .title span
  padding-left 0.5em

.report .sample span
  padding-left 0.5em
  color maroon

.tops .response-time
  color maroon

.tops .response-time .elapsedTimeStr, .tops .response-time .responseCode
  text-align right

.tops .response-time a
  margin-left 20

.label
  font-size 9px

