body{padding:0;margin:0;font-family:arial}
th{font-weight:normal}
.clear{clear:both}
.dashboard{position:absolute;top:0;bottom:0;width:100%}
.test-case-container{float:left;margin:10 0 60 0;padding:0;height:25%;width:50%}
.test-case-container .title{text-align:center}
.test-case-container .graph{padding:5 15 30 40;float:left;width:38%;height:80%;margin:10 0 0 10}
.eraajo.graph .line{stroke-width:2}
.eraajo-status{padding:5 15 30 40;margin:10 0 0 10;font-size:small;float:left}
.eraajo-status div{clear:both}
.eraajo-status span{display:inline-block;height:20;float:left;margin-right:5}
.eraajo-status .stroke{width:1em;height:1em;margin-top:3}
.eraajo-status .build{width:40;text-align:right}
.eraajo-status .testCaseId{width:60}
.eraajo-status .throughput{width:50;text-align:right}
.eraajo-status .errorCount{width:50;text-align:right}
.status{position:absolute;font-size:small;top:5;right:10;margin-top:0}
.status .update{float:left}
.status .progress{float:left;margin-right:10;margin-top:2}
.tops{width:90%}
.dashboard .mark{stroke-width:1;fill:none}
.dashboard .mark.failed{stroke:#800000}
.dashboard .mark.passed{stroke:#4682b4}
path{fill:none}
.tile{cursor:hand}
.boxplot{shape-rendering:crispEdges;stroke:#4682b4}
.boxplot.percentiles{stroke-width:5px}
.boxplot.percentiles:hover{cursor:hand;stroke-width:7px;stroke:#add8e6}
.boxplot.median{stroke-width:1px;stroke:#fff}
.axis text{font-size:11px}
.axis path,.axis line{fill:none;stroke:#808080;shape-rendering:crispEdges}
.report{margin-left:20px}
.report .mark{stroke-width:1;fill:none}
.report .mark.failed{stroke:#800000}
.report .mark.passed{stroke:#4682b4}
.report .response-time-scatter-plot{padding:5 15 27 40;float:left;width:90%;height:50%;margin:10 0 0 10}
.report .title span{padding-left:.5em}
.report .sample span{padding-left:.5em;color:#800000}
.tops .response-time{color:#800000}
.tops .response-time .elapsedTimeStr,.tops .response-time .responseCode{text-align:right}
.tops .response-time a{margin-left:20}
.axis .label{font-size:9px}
