body{padding:0;margin:0;font-family:arial}
th{font-weight:normal}
.dashboard{position:absolute;top:0;bottom:0;width:100%}
.test-case-container{float:left;margin:10 0 40 0;padding:0;height:30%;width:50%}
.test-case-container .title{text-align:center}
.test-case-container .graph{padding:5 15 20 30;float:left;width:40%;height:80%;margin:10 0 0 10}
.status{position:absolute;font-size:small;top:5;right:10;margin-top:0}
.status .update{float:left}
.status .progress{float:left;margin-right:10;margin-top:2}
.tops{width:90%}
.dashboard .mark{stroke-width:1;fill:none}
.dashboard .mark.failed{stroke:#800000}
.dashboard .mark.passed{stroke:#4682b4}
path{fill:none}
.tile{cursor:hand}
.boxplot{shape-rendering:crispEdges;stroke:#4682b4}
.boxplot.percentiles{stroke-width:5px}
.boxplot.percentiles:hover{cursor:hand;stroke-width:7px;stroke:#add8e6}
.boxplot.median{stroke-width:1px;stroke:#fff}
.error-percentage path{stroke:#800000}
.axis text{font-size:11px}
.axis path,.axis line{fill:none;stroke:#808080;shape-rendering:crispEdges}
.report .mark{stroke-width:1;fill:none}
.report .mark.failed{stroke:#800000}
.report .mark.passed{stroke:#4682b4}
.report .testrun{padding-left:1em}
.report .sample span{padding-left:.5em;color:#800000}
.tops .response-time{color:#800000}
.tops .response-time .elapsedTimeStr,.tops .response-time .responseCode{text-align:right}
.tops .response-time a{margin-left:20}
