doctype html5

html(lang="en")
  head
    title KIOS Performance Dashboard
    link(rel="stylesheet", href="/components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/style.css")
  body

    .dashboard
      .status
        .progress.hidden
          img(src="/images/ajax-loader.gif")
        button.update Update now

      .test-case-container
        .title Lainhuutotodistukset
        svg.graph.lh.response-time
        svg.graph.lh.response-time-scatter-plot

      .test-case-container
        .title Rasitustodistukset
        svg.graph.rt.response-time
        svg.graph.rt.response-time-scatter-plot

      .test-case-container
        .title Vuokraoikeustodistukset
        svg.graph.vo.response-time
        svg.graph.vo.response-time-scatter-plot

      .test-case-container
        .title Eräajot
        svg.graph.era-ajo.throughput

    .report.hidden
      h3.title
        a(href="/") dashboard
        | /
        a.testrun(href="#")
          span.testCaseId
          &nbsp;
          span.build #

      svg.graph.response-time.scatter-plot

      table.sample
        tr
          td Time:
          td
            span.timeStamp
        tr
          td Response Status:
          td
            span.responseCode
        tr
          td Response Time:
          td
            span.elapsedTime
        tr
          td Response Size:
          td
            span.bytes
        tr
          td URL:
          td
            span
              a(href="#").label

      div.tops
        h3 Hitaimmat kohteet
        table
          thead
            th Response time [s]
            th Status
            th URL
          tbody.response-time
            tr
              td.elapsedTimeStr
              td.responseCode
              td
                a.label(href="#")

    script(async=true, data-main="/main", src="/components/requirejs/require.js")
