doctype html5

html(lang="en")
  head
    title KIOS Performance Dashboard
    link(rel="stylesheet", href="/components/normalize-css/normalize.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/style.css")
  body

    .dashboard
      .history-length
        .title Number of builds:
        input(value=5)
        button(name="history-refresh-button") Go
      .update-status
        .progress.hidden
          img(src="/images/ajax-loader.gif")
        button.update Update now

      .note
        a(href="https://knowledge.solita.fi/display/MMLYP/Perffitulosten+hallinta+ja+raportointi",
          target="_blank") Ohje tulosten hallintaan

      .test-case-container
        .title Lainhuutotodistukset
        svg.graph.tulosteet.lh.response-time
        svg.graph.tulosteet.lh.response-time-scatter-plot

      .test-case-container
        .title Rasitustodistukset
        svg.graph.tulosteet.rt.response-time
        svg.graph.tulosteet.rt.response-time-scatter-plot

      .test-case-container
        .title Vuokraoikeustodistukset
        svg.graph.tulosteet.vo.response-time
        svg.graph.tulosteet.vo.response-time-scatter-plot

      .test-case-container
        .title Lainhuutorekisteriote
        svg.graph.tulosteet.lhro.response-time
        svg.graph.tulosteet.lhro.response-time-scatter-plot

      .note
         a(href="http://svn.solita.fi/svns/kios/application/trunk/kios-tp-eraajo-velocity-performance/scripts/run-tests.sh",
           target="_blank") Urlit throughput-testeille

      .test-case-container
        .title Eräajot
        svg.graph.eraajo.tietopalvelu.throughput
        .eraajo.tietopalvelu.status
          .thead
            span.title.stroke
            span.title.testCaseId
            span.build Build
            span.title.throughput T [1/s]
            span.title.count N
          .tbody
            .row
              span.stroke
              span.testCaseId
              span.build
              span.throughput
              span.count

      .test-case-container
        .title Kyselypalvelu
        svg.graph.kyselypalvelu.tietopalvelu.throughput
        .kyselypalvelu.tietopalvelu.status
          .thead
            span.title.stroke
            span.title.testCaseId
            span.build Build
            span.title.throughput T [1/s]
            span.title.count N
          .tbody
            .row
              span.stroke
              span.testCaseId
              span.build
              span.throughput
              span.count

      .test-case-container
        .title Kyselypalvelu, krkohde
        svg.graph.kyselypalvelu-krkohde.tietopalvelu.throughput
        .kyselypalvelu-krkohde.tietopalvelu.status
          .thead
            span.title.stroke
            span.title.testCaseId
            span.build Build
            span.title.throughput T [1/s]
            span.title.count N
          .tbody
            .row
              span.stroke
              span.testCaseId
              span.build
              span.throughput
              span.count

      .test-case-container
        .title Eräajot, muutos
        svg.graph.eraajo-muutos.tietopalvelu.throughput
        .eraajo-muutos.tietopalvelu.status
          .thead
            span.title.stroke
            span.title.testCaseId
            span.build Build
            span.title.throughput T [1/s]
            span.title.count N
          .tbody
            .row
              span.stroke
              span.testCaseId
              span.build
              span.throughput
              span.count

      .test-case-container
        .title Kyselypalvelu, muutos
        svg.graph.kyselypalvelu-muutos.tietopalvelu.throughput
        .kyselypalvelu-muutos.tietopalvelu.status
          .thead
            span.title.stroke
            span.title.testCaseId
            span.build Build
            span.title.throughput T [1/s]
            span.title.count N
          .tbody
            .row
              span.stroke
              span.testCaseId
              span.build
              span.throughput
              span.count

      .test-case-container
        .title BI-raportit
          span &nbsp;(&nbsp;
            a(href='http://murky.solita.fi:8080/job/KIRRE%20BI%20Nightly/') 'KIRRE BI Nightly'
          span -buildin kesto )
        img.graph.bi-raportit

      .test-case-container
        .title Lainhuutotodistukset 50 kohdetta kerralla
        svg.graph.tulosteet.lhmu.response-time
        svg.graph.tulosteet.lhmu.response-time-scatter-plot

      .test-case-container
        .title Lainhuutotodistukset Oulu
        svg.graph.tulosteet.lhoulu.response-time
        svg.graph.tulosteet.lhoulu.response-time-scatter-plot

      .test-case-container
        .title Omistajien yhteystiedot
        svg.graph.tulosteet.omyt.response-time
        svg.graph.tulosteet.omyt.response-time-scatter-plot

      .test-case-container
        .title Vuokralaisten yhteystiedot
        svg.graph.tulosteet.vuyt.response-time
        svg.graph.tulosteet.vuyt.response-time-scatter-plot

      .test-case-container
        .title SRV Omistustietopalvelu EO
        svg.graph.services.otpeo.response-time
        svg.graph.services.otpeo.response-time-scatter-plot

      .test-case-container
        .title SRV Omistustietopalvelu kohdetunnuksella
        svg.graph.services.otpkt.response-time
        svg.graph.services.otpkt.response-time-scatter-plot

      .test-case-container
        .title SRV Omistustietopalvelu kohdetunnuksella (vakio heinola jokeri)
        svg.graph.services.otpktheijok.response-time
        svg.graph.services.otpktheijok.response-time-scatter-plot

      .test-case-container
        .title SRV Omistustietopalvelu kohdetunnuksella (vakio jokeri)
        svg.graph.services.otpktvakjok.response-time
        svg.graph.services.otpktvakjok.response-time-scatter-plot

      .test-case-container
        .title SRV Omistustietopalvelu laitostunnuksella
        svg.graph.services.otplt.response-time
        svg.graph.services.otplt.response-time-scatter-plot

      .test-case-container
        .title SRV Omistustietopalvelu tunnuksella
        svg.graph.services.otptunn.response-time
        svg.graph.services.otptunn.response-time-scatter-plot

      .test-case-container
        .title SRV Omistustietopalvelu y-tunnuksella suuromistajat
        svg.graph.services.otpytunnso.response-time
        svg.graph.services.otpytunnso.response-time-scatter-plot
      .test-case-container
        .title SRV Omistustietopalvelu y-tunnuksella suuromistajat lkm
        svg.graph.services.otpytunnsolkm.response-time
        svg.graph.services.otpytunnsolkm.response-time-scatter-plot

    .report
      h3.title
        a(href="/") dashboard
        span /
        a.testrun(href="#")
          span.testCaseId
          span /
          span.build

      svg.graph.response-time-scatter-plot

      table.sample.clear
        tr
          td Time:
          td
            span.timeStamp
        tr
          td Response Status:
          td
            span.responseCode
        tr
          td Response Time:
          td
            span.elapsedTime
        tr
          td Response Size:
          td
            span.bytes
        tr
          td URL:
          td
            span
              a(href="#").label

      div.tops
        h3 Hitaimmat kohteet
        table
          thead
            th Response time [s]
            th Status
            th URL
          tbody.response-time
            tr
              td.elapsedTimeStr
              td.responseCode
              td
                a.label(href="#")

    script(async=true, data-main="/main", src="/components/requirejs/require.js")
